body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
  background-color: #557085 !important;
  background-image: url('../img/background.png');
}

.nombre {}

.resumen {}

.experiencia {}

.estudios {}

.tarjetas {
  background-color: white;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
}

/* Linea el los heading */

h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  left: 0.5em;
  /* Efecto */
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.contacto {
  font-size: 12px;
}

.misma-linea {
  clear: both;
  display: inline;
}
