body {
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
  background-color: #557085 !important;
  background-image: url('../img/background.png');
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
}

.nombre {}

.resumen {}

.experiencia {}

.estudios {}

.tarjetas {
  background-color: white;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.35);
}

/* Linea el los heading */

h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  left: 0.5em;
  /* Efecto */
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.contacto {
  font-size: 12px;
}

.misma-linea h4 {
  display: inline;
}

.misma-linea h5 {
  float: right;
  display: inline;
}

.fa-phone {
  color: #557085;
}

/* Sociales */

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  color: rgb(218, 218, 218);
}

/*
    Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3B5998;
}

#social-ins:hover {
  color: rgb(144, 85, 43)
}

#social-li:hover {
  color: rgb(0, 119, 181);
}
